*.o
*.d
*~
*.swp
*.tar
*.tar.gz
*.tar.bz2
*.tgz
*.zip
.DS_Store
data
__MACOSX
src/train/network/
src/train/network2/
src/train/network3/
src/train/network4/
src/train/network5/
src/train/newnet/
src/train/newnet60
